# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

# en-core-web-sm==2.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#egg=en_core_web_sm
flask==1.1.2
gensim==3.8.3
nltk==3.6.2
numpy==1.20.3
pip==21.2.2
# python==3.9.5
requests==2.25.1
scipy==1.6.2
setuptools==57.0.0
spacy==2.3.5
sumy==0.8.1
urllib3==1.26.5
waitress==2.0.0
werkzeug==1.0.1
wheel==0.36.2
youtube-transcript-api==0.4.1
